#won-game{

    background-color: rgb(50, 5, 87);
    color: white;
    text-align: center;
    width: 50%;
    height: auto;
    padding: 1.6rem 1.0rem;
    margin: 3rem auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgb(0, 0, 0,0.2);
    display: none;
}

#won-game h1{

    font-size: 2.9rem;
    margin: 0;
}